extends ../layout

include ../utils

append head
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  //- add page specific js
  script(src="/javascripts/dashboard.js" type="module" defer)

block content
  div(class="main-container")
    h1 Stories dashboard
    div(class="dashboard-container")

      div(class="stories-container")
          ul
            each story, idx in stories
              - var recommendation = story.recommendation[0] || { rating: 0, review: ''}
              li(class="story-container")
                div(class="story-header-container")
                  span(class="story-title")=story.title
                  div(class="story-button-container")
                    span(class=`fas fa-chevron-circle-left toggle-${idx}`)
                    span(class="fas fa-arrow-circle-right")
                div(class=`story-details-container container-${idx}`)
                  div(class="story-details-top")
                    div(class="story-details-top-left")
                      +dashStoryDetail("Book:", story.Subscription.book, story.id)
                      +dashStoryDetail("Chapter:", story.Subscription.chapter, story.id)
                    div(class="story-details-top-right")
                      div(id=story.id class="stars")
                        - var i = 0, j = recommendation.rating + 1
                        while i < recommendation.rating
                          span(id=(i+1) class="fas fa-star")
                          - i++
                        while j <= 5
                          span(id=j class="far fa-star")
                          - j++
                      a(href=story.link class="link") Link to Story

                  div(class="story-details-bottom")
                    div(class="description-container")
                      div(class="reveal") Description
                      p(class="description-text hidden")= story.description
                    div(class="review-container")
                      div(class="reveal") Review
                      p(class="review-text hidden")= recommendation.review
      include nav-section